<div class="con ">
<div class="container ">
  <h1>Create New Unit</h1>
  <br>
  <br>
  <br>
<form [formGroup]="form" >
  <div class="form-group">
    <label for="nameOfUnit">Name</label>
    <textarea formControlName="nameOfUnit" [ngClass]="{'red-outline': !form.get('nameOfUnit').valid,'green-outline': form.get('nameOfUnit').valid }"  type="text" class="form-control" id="nameOfUnit" placeholder="Enter nameOfUnit"></textarea>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" [ngClass]="{'red-outline': !form.get('description').valid,'green-outline': form.get('description').valid }"  type="text" class="form-control" id="description" placeholder="Enter description"></textarea>
  </div>
  <div class="form-group">
    <label for="capacity">Capacity</label>
    <input formControlName="capacity" [ngClass]="{'red-outline': !form.get('capacity').valid,'green-outline': form.get('capacity').valid }"  type="number" class="form-control" id="capacity" placeholder="Enter capacity">
  </div>
  <div class="form-group">
    <label for="cancelationDays">Cancelation Days</label>
    <input formControlName="cancelationDays" [ngClass]="{'red-outline': !form.get('cancelationDays').valid,'green-outline': form.get('cancelationDays').valid }"  type="number" class="form-control" id="cancelationDays" placeholder="Enter cancelation Days">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select (change)="onChangeType()" formControlName="type" [ngClass]="{'red-outline': !form.get('type').valid,'green-outline': form.get('type').valid }"   class="form-control" id="type"  >
      <option *ngFor="let t of unitTypes" value="{{t.id}}" >{{t.nameOfUnitType}}</option>



    </select>
  </div>
  <div class="form-group">
    <label for="extraServices">Extra Services</label>
    <select multiple  formControlName="extraServices"  class="form-control" id="extraServices"  >
      <option *ngFor="let s of allExtraServices"  value="{{s.id}}">{{s.nameOfService}}</option>


    </select>
  </div>

  <div class="form-group">
    <label for="latitude">Cena za 2019:</label>
    <input formControlName="latitude" [ngClass]="{'red-outline': !form.get('latitude').valid,'green-outline': form.get('latitude').valid }"  type="number" class="form-control" id="latitude" required placeholder="Enter latitude">
  </div>
  <div class="form-group">
    <label for="longitude">Cena za 2020:</label>
    <input formControlName="longitude" [ngClass]="{'red-outline': !form.get('longitude').valid,'green-outline': form.get('longitude').valid }"  type="number" class="form-control" id="longitude" required placeholder="Enter longitude">
  </div>

  <div class="form-group">
    <label for="imageTitle">Image Title</label>
    <input formControlName="imageTitle" [ngClass]="{'red-outline': !form.get('imageTitle').valid,'green-outline': form.get('imageTitle').valid }"  type="text" class="form-control" id="imageTitle" required placeholder="Enter image Title">
  </div>
  <div class="form-group">
    <label for="imageUrl">Image Url</label>
    <input formControlName="imageUrl" [ngClass]="{'red-outline': !form.get('imageUrl').valid,'green-outline': form.get('imageUrl').valid }"  type="text" class="form-control" id="imageUrl" required placeholder="Enter image Url">
  </div>

  <button type="submit" [disabled]="form.invalid" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

