<div class="container">
  <h1>Reservations</h1>
  <table id="tablePreview" class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Arrival Date</th>
      <th>Departure Date</th>
      <th>Price</th>
      <th>Stay Realised</th>
      <th>Realise Stay</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let r of reservations">
      <th scope="row">{{r.id}}</th>
      <td >{{r.arrivalDate}}</td>
      <td >{{r.departureDate}}</td>
      <td >{{r.reservationPrice}}</td>
      <td >{{r.stayRealized}}</td>
      <td><button [disabled]="r.stayRealized"  type="submit" (click)="realise(r.id)" class="btn btn-primary">Realise Stay</button></td>
    </tr>

    </tbody>
  </table>
</div>
